.box {
	 width: 200px; 
	 height: 100px;
   background-color: rgb(102, 205,170)
}
.box {
	width: 200px; 
	height: 100px;
	background-color: #F08080; 
}
.box {
	width: 200px; 
	height: 100px;
	background-color: rgba(102, 205, 170, 0.5); 
}
.box {
	width: 200px; 
	height: 100px;
	background-color: #F0808055;
}